body{
    background-image: url(img/fondo-login.jpg);
}

.up{
    width: 100%;
}

.container-cata{
    background-color: pink !important;
}

.container{
    background-color: #FEF1E6;
}

.row{
    width: 100%;
}

.up p{
    background-color: #5B8C5A;
    text-align: center;
    padding: 15px;
    font-size: 15px;
    color: white;
    font-weight: 100;
    background-size: cover;
}

.izquierda{
    display: flex;
    align-items: baseline;
    padding: 4px 0 0 34px;
    width: 60%;
}

.derecha{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 25px 25px 0 0;
    position: relative;
}

header{
    display: flex;
    justify-content: space-between;
    /* position: fixed; */
    width: 100%;
    flex-wrap: wrap;
    top: 0px;
    background-color: white;
    z-index: 10;
    margin-bottom: 1em;
}

.btn-button{
    width: 100%;
    background-color: #5B8C5A !important;
    color: #fff !important;
}

.btn-button:hover{
    width: 100%;
    background-color: #4f754e !important;
    color: #fff !important;
}

li{
    position: relative;
}

header .logo-img{
    width: 9em;
    height: 5em;

}

.derecha p{
    position: absolute;
    top: 0;
    right: 0;
    background-color: #fff;
    padding: 1px 6px;
    border-radius: 50%;
    color: black;
    font-weight: 700;
    font-family: system-ui;
    line-height: 18px;
}


/* carrito compras*/
.cart-products{
    position: absolute!important;
    top: 82px;
    right: -18px;
    background-color: #fff;
    padding: 0 18px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
    display: none;

    min-width: 290px;
}

.cart:hover{
    margin-bottom: 16px;
    transition-duration: .5s;
}

/*float cart*/
.cart-products .item img{
    width: 115px;
}

.cart-products .item{
    display: flex;
    align-items: center;
    border-bottom: solid 2px red;
}
.cart-products .item .item-content{
    margin: 0 19px;
    width: 201px;
}
.cart-products .item .item-content h5{
    margin: 0;
    font-size: 15px;
    font-weight: 400;
    font-family: system-ui;
}
.cart-products .item .item-content h6{
    margin: 0;
    font-size: 13px;
    font-weight: 400;
    font-family: system-ui;
}
.cart-products .item span{
    background-color: red;
    padding: 0px 5px;
    border-radius: 50%;
    color: #fff;
    font-family: system-ui;
    cursor: pointer;
}
.cart-products h3{
    margin-bottom: 0;
}
.cart-products .item .item-content h5.cart-price{
    font-weight: 700;
}

/*stye to btn close*/
p.close-btn{
    top: -4px;
    right: 6px;
    cursor: pointer;
    color: #000;
}





.menu li:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
}

header ul{
    display: flex;                                                                                                           
    list-style: none;
}

nav .menu{
    padding: 0px 23px 25px;
}

.izquierda ul a{
    text-decoration: none;
    font-size: 18px;
    color: black;
    font-weight: 300;
    padding: 12px 15px;
}

.izquierda ul a:hover{
    color: #5B8C5A;
    font-weight: 500;
    

}


.derecha ul a{
    text-decoration: none;
    font-size: 18px;
    color: black;
    font-weight: 300;
    padding: 12px 6px;
}

.derecha li{
    display: flex;
    align-items: center;
    margin: 0 8px;
}

.derecha img{
    width: 22px;
    height: 22px;
    cursor: pointer;
}

/* .derecha p{
    color: darkgrey;
    font-size: 20px;
    text-align: center;
} */

.banner{
    display: flex;
    flex-wrap: wrap;
    margin-top: 13em;
}

.banner_photo {
    margin-top: 5px; position: relative;
}

.nav-tittle, p h1{
    text-align: center;
}


.nav-text{
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* margin-bottom: 8em; */
}

.nav-text, p h1{
    text-align: center;
    color: #295228;
}

.nav-text h1{
    text-transform: uppercase;
}

.catalogo{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 4em;
    flex-wrap: wrap;
}

.cata-photo{
    text-align: center;
}

.cata-photo img{
    width: 70%;
    height: 80%;
}

.cata{
    width: 30% !important;
    border: 2px solid #EADBC8;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 3em;
}

.cata img{
    width: 100%;
    height: 400px;
    padding: 10px;
    transition: transform 0.3s ease;
}

.cata img:hover{
    transform: scale(1.03);
}

.cata, p a{
    text-align: center;
}

.cata .title-cat{
    font-size: 20px;
    font-weight: 600;
}

.tachado{
    text-decoration: line-through;
    font-weight: 600;
    margin-bottom: 5px !important;
}

.cata a{
    text-decoration: none;
    padding: 10px 50px;
    margin-bottom: 1rem;
}

.btn-color{
    background-color: #5B8C5A !important;
    color: white !important;
}